head{
    all: revert;
}
header{
    all: revert;
}
body{
    all: revert;
}
section{
    all: revert;
}
article{
    all: revert;
}
div{
    all: revert;
}
figure{
    all: revert;
}
figcaption{
    all: revert;
}
details{
    all: revert;
}
main{
    all: revert;
}
p{
    all: revert;
}
a{
    all: revert;
}
h1{
    all: revert;
}
h2{
    all: revert;
}
h3{
    all: revert;
}
img{
    all: revert;
}
form{
    all: revert;
}
fieldset{
    all: revert;
}
legend{
    all: revert;
}
label{
    all: revert;
}
input{
    all: revert;
}
footer{
    all: revert;
}